*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    background-image: url(/images/Bg.jpg);
    width: auto;

}

.logo {
    margin-right: 50px;
    width: 90px;
    height: 75px;
}

.number {
    align-items: center;
    display: flex;
    font-size: 20px;
    color: #fff;

    text-decoration: none;
}

.span-number {
    font-size: 28px;
    color: #f5e300;
    font-weight: 700;
    margin-left: 3px;
}

.nav {



    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav .container {
    display: flex;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-df {
    display: flex;
    align-items: center;
}

.item {
    margin-right: 45px;
}

.link {
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #e5e5e5;
}



.select-1 {
    margin-left: 30px;
    font-size: 20px;
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
    width: 60px;
    height: 40px;
}

.opt {

    background-color: #fff;
    font-size: 18px;
    color: #000;
    display: block;
}

.ham-ham {
    margin-left: 30px;
    cursor: pointer;
    background-color: #fff;
    width: 45px;
    height: 5px;
}

.ham-ham:last-child {
    margin-top: 5px;
}

.ham-ham:first-child {
    margin-bottom: 5px;
}

.flex-1 {
    display: flex;
    align-items: center;
}

.semka {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding-top: 15px;
    text-align: center;
    border-radius: 5px;
    width: 155px;
    height: 108px;
    background-color: #f5e300;
    display: block;

}

.snake {
    margin-left: 20px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding-top: 15px;
    text-align: center;
    border-radius: 5px;
    width: 155px;
    height: 108px;
    background-color: #fff;
    display: block;
}

.qurt {
    margin-left: 20px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding-top: 15px;
    text-align: center;
    border-radius: 5px;
    width: 155px;
    height: 108px;
    background-color: #fff;
    display: block;
}

.semka::before {
    margin-top: 10px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    content: url();
    background-image: url(/images/semka.png);
    width: 50px;
    height: 50px;
    display: block;
}

.snake::before {
    margin-top: 10px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    content: url();
    background-image: url(/images/snake.png);
    width: 50px;
    height: 50px;
    display: block;
}

.qurt::before {
    margin-top: 10px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    content: url();
    background-image: url(/images/qurt.png);
    width: 50px;
    height: 50px;
    display: block;
}

.flex-2 {
    display: flex;
    align-items: center;
}

.katalog {
    margin-bottom: 100px;
    color: #000;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    width: 220px;
    height: 60px;
    background-color: #f5e300;
}

.title {
    margin-top: 115px;
    font-weight: 900;
    line-height: 85px;
    color: #fff;
    font-size: 56px;
}

.texts {
    max-width: 600px;
}

.text {
    margin-bottom: 30px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.sec-1 {
    justify-content: space-between;
    display: flex;
}

.img-cont {
    display: block;
    margin-top: 225px;
    width: 420px;
    height: 420px;
}

.titles {
    margin-top: 30px;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 135px;
    height: 20px;
}

.ss {
    display: block;
    width: 525px;
    height: 472px;
}

.section-1 {

    justify-content: space-between;
    display: flex;
    align-items: center;
}

.sect-titles {
    max-width: 585px;
    font-size: 30px;
    line-height: 40px;
}

.line {
    width: 150px;
    height: 3px;
    background-color: #f5e300;
    margin: 30px 0;
}

.sect-text {
    max-width: 580px;
    line-height: 30px;
    font-size: 20px;
}

.next-link {
    border-radius: 5px;
    text-align: center;
    width: 242px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #f5e300;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/yer.jpg);
    content: '';
    /* width: 100%;
    height: 366px; */
    width: 100%;
    height: 365px;
    margin-bottom: 50px;
}

.bg-text {
    padding-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    color: #fff;
    font-size: 25px;
}

.gradient {
    color: #fff;
    background-size: cover;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.box {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.boxs {
    text-align: center;
    max-width: 170px;
}

.boxs h2 {
    font-size: 50px;
}

.boxs h3 {
    margin-top: 10px;
    font-size: 18px;
}

.categories {
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #dddddd;
    border-radius: 30px;
    max-width: 155px;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.links {
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
}

.categor {
    color: #fff;
    background-color: #d82830;
}


.keyss img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    width: 125px;
    height: 150px;
}

.keyss {
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 15px;
    width: 285px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #dddddd;
}

.keys {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titl {
    margin-bottom: 10px;
    display: block;
}

.txt {
    color: #000;
}

.txt span {
    color: #000;
    font-weight: bold;
}

.numb {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #141d7a;
}

.bg .container {
    margin-top: 30px;

    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.karobka {
    border-radius: 5px;
    background-color: #F0F0F0;
    width: 280px;
    height: 240px;
}

.border {

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90px;
    height: 90px;
    background-color: #d82830;
    border-radius: 50%;
}


.karobka p {
    margin-top: 20px;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
}

.bgb {
    margin-bottom: 50px;
    color: #fff;
    background-image: url(/images/bg.jpg);
    width: 100%;
    height: 734px;
}

.liner {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.bgb-title {
    max-width: 585px;
    font-weight: 300;
    font-size: 36px;
}

.bgb-title span {
    color: #f5e300;
}

.bgb-text {
    color: #ddddddb4;
    margin-top: 35px;
    font-weight: 300;
    font-size: 20px;
}

.yellow {
    bottom: 0;
    position: absolute;
    width: 575px;
    height: 570px;
}

.liner {
    position: relative;
}

.book {
    width: 540px;
    height: 430px;
    z-index: 2;
    position: absolute;
}

.cont-logo {
    width: 150px;
    height: 130px;
}

.liner .container {
    padding-top: 30px;
    justify-content: space-between;
    display: flex;

}

.text-c {
    margin-left: 20px;
    max-width: 410px;
    font-size: 20px;
    line-height: 30px;
}

.cont {
    display: flex;
    align-items: center;
}

.input {
    width: 80%;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    color: #fff;
}



.btn {
    background-color: #d82830;
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    text-align: center;
    cursor: pointer;
    width: 80%;
    outline: none;
}

.check {
    display: block;
    width: 30px;
    height: 30px;
}

.chek {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.che {

    max-width: 20px;
    display: block;
}

.ka-img {
    width: 50px;
    height: 50px;
    display: none;
}

.karobka:hover .kar-img {
    display: none;
}

.karobka:hover .ka-img {

    display: block;
}

.karobka:hover .border {
    background-color: #fff;
}

.karobka:hover {
    transition: all ease-in-out .4s;
    color: #fff;
    background-color: #d82830;
}

.form {
    margin-top: 80px;
}

.blue {
    background-color: #141d7a;
}

.bl:hover {
    background-color: #141d7a;
}

.map {
    outline: none;
    border: none;
    margin-top: 50px;

}

.ft-txt {}

.footer {
    padding: 30px 0;
    font-weight: 200;
    font-size: 16px;
    color: #fff;
    background-color: #000;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ft-link {
    color: #fff;
    text-decoration: none;
}





/* RESPONDsive */

@media only screen and (max-width: 600px) {
    body {
        color: #000;
    }

    .container {

        max-width: 350px;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .list {
        display: none;
    }

    .flex-1 {

        text-align: center;
        display: block;
    }

    .katalog {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .sec-1 {
        margin-top: 16px;
        padding-bottom: 50px;

    }

    .qurt {
        background-color: #f5e300;
        margin-top: 20px;
    }

    .snake {
        background-color: #f5e300;
    }

    .title {
        display: none;

    }

    .text {
        display: none;
    }

    .number {
        margin-top: 10px;
        justify-content: center;
    }

    .nav .container {
        display: block;
    }

    .img-cont {
        display: none;
    }

    .ss {
        display: none;
    }

    .sect-titles {
        margin-top: 20px;
        text-align: center;
    }

    .line {
        margin-left: auto;
        margin-right: auto;
    }

    .sect-text {
        text-align: center;
    }

    .next-link {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }



    .box {

        margin: 0 auto;
        max-width: 150px;
        flex-wrap: wrap;
    }

    .links {
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
        flex-wrap: wrap;

    }

    .categories {
        margin-bottom: 15px;
    }

    .keys {
        display: flex;
        justify-content: center;
    }

    .bg .container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .karobka {
        margin-bottom: 20px;
    }

    .map {
        display: none;
    }

    .bgb {
        padding-bottom: 10px;
        display: none;
    }

    .ft-txt:last-child {
        margin-top: 50px;
    }

    .footer .container {
        display: block;
    }



}